[project]
	description = 
[access "refs/*"]
  read = group repo2-core
  owner = group repo2-ptl
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group repo2-core
	label-Code-Review = -2..+2 group repo2-ptl
	label-Verified = -2..+2 group repo2-ptl
	label-Workflow = -1..+1 group repo2-core
	label-Workflow = -1..+1 group repo2-ptl
	label-Workflow = -1..+0 group Registered Users
	submit = group repo2-ptl
	read = group repo2-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group repo2-core
    read = group Registered Users
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
